<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ProxyAdapter" value="" />
    <add key="NormalAdapter" value="" />
    <add key="proxyAddress" value="proxy3.ibb.gov.tr" />
    <add key="proxyPort" value="8080" />
    <!--<add key="proxyUserName" value="akom01@ibb.gov.tr" />
    <add key="proxyPassword" value="akom2018*" />-->
  </appSettings>
</configuration>